.view {
    width: 100%;
    height: 300px;
    margin: 10px;
    float: left;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 0px 0px 5px #aaa;
    cursor: default;
}
.view .mask, .view .content {
    width: 100%;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}

.view img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /*position: relative;*/
    width: 290px; height: auto;
    margin: auto;
}
.view a.info {
    background:url(../img/core-img/remove-white.png) center no-repeat;
    text-decoration: none;
    display: block;
    text-indent:-9999px;
    width:50px;
    height:50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* THIRD EFFECTS */

.third-effect .mask {
    opacity: 0;
    overflow:visible;
    border:150px solid rgba(0,0,0,0.7);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.third-effect a.info {
    position:relative;
    top:-10px;
    opacity: 0;
    -webkit-transition: opacity 0.5s 0s ease-in-out;
    -moz-transition: opacity 0.5s 0s ease-in-out;
    -o-transition: opacity 0.5s 0s ease-in-out;
    -ms-transition: opacity 0.5s 0s ease-in-out;
    transition: opacity 0.5s 0s ease-in-out;
}
.third-effect:hover .mask {
    opacity: 1;
    border:150px solid rgba(0,0,0,0.7);
}
.third-effect:hover a.info {
    opacity:1;
    -moz-transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
